body{
    background-color: black;
    color: white;
}
a{
    color: white;
    margin-right: 500px;
}
.smaller-margin-1{
    margin-right: 0px;
    margin-left: 0px;
    width: 49%;
    height: 400px;
}


.div1{
    float: right;
    width: 50%;
}
.div2{
    float: left;
    width: 45%;
    
}
.heading{
    float: right;
    width: 16%;
}
.heading1{
    float: left;
}