img{
    font-size: 50px;
    align-items: center;
}
 body{
    background-color: black;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 200px;
}
p{
    color:white;
}
h1{
    color: white;
}



.left-margin{
    margin-left: 1000px;
}
h4{
    color: white

}
h5{
    color:white;
}
.font-bigger{
    font-size: 100px;
    margin-left: 300px;
}