body {
    background-color: black;
    color: white;

}
h1{
    text-align: center;
}
a{
    color:white;
}
.bigger-image{
    height: 10000;
    width: 100;
}
.h2{
    text-align: center;
    margin-top: 200px;
}
.h5{
    margin-left: 300px;
    margin-right: 300px;
}
.h4{
    margin-right: 300px;
}

.h3{
    text-align: center;
}
.h10{
    margin-left: 690px;
    margin-right: 300px;
}
